.MessageList {
  display: flex;
  margin-top: 10px;
}
.MessageList__photo {
  background-color: #01b5f180;
  border-radius: 50%;
}
.MessageList img {
  width: 45px;
  height: 45px;
  margin: 0 6px;
}
.MessageList__text .MessageList__span-email {
  color: lightgray;
}
.MessageList__text p {
  margin: 3px 0;
}
.MessageList__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.message,
.edit,
.heart,
.send {
  font-size: 22px;
}
.heart-red {
  fill: red;
  font-size: 22px;
}

@media screen and (min-width: 800px) {
  .MessageList {
    padding: 10px;
  }
}
