.Header {
  display: none;
}
.Header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.Header__up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
  font-size: 18px;
}
.Header__down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid lightgrey;
}
.Header__down input {
  padding: 0 0 0 10px;
  width: 80%;
  height: 28px;
  border: 0;
  background-color: #eaeff1;
  border-radius: 24px;
  outline: none;
}
.Header__down--profile {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
}

.sparkling {
  color: #01b5f1;
  font-size: 25px;
}

@media screen and (min-width: 800px) {
  .Header {
    display: block;
  }
}
